<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <header>
      <!-- Navbar Start -->
      <!-- Navbar -->

      <%- include('../shared/components/navBarLogout.ejs') %>
      <!-- Navbar -->
      <!--Section: Design Block-->
      <section>
        <!-- Intro -->
        <div
          id="intro"
          class="bg-image vh-53"
          style="
            background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          "
        >
          <div
            class="mask mask-text"
            style="
              background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );
            "
          ></div>
        </div>
        <!-- Intro -->
      </section>
      <!--Section: Design Block-->
    </header>
    <main>
      <!-- start of section two -->
      <section id="playlistSection_2">
        <div class="container py-5">
          <div class="row">
            <!-- col one start -->
            <!-- col one end -->
            <% playlists.forEach(function(userPlaylist) { %>

            <!-- col one start -->
            <div class="col-md-3">
              <div class="videos__container">
                <!-- Single Video starts -->
                <div class="video">
                  <div class="video__thumbnail">
                    <a
                      class="position-relative d-block overflow-hidden"
                      href="/playlist/<%=userPlaylist.playlist.id%>"
                    >
                      <img src="<%=userPlaylist.playlist.picture%>" alt="" />
                    </a>
                  </div>
                  <div class="video__details">
                    <div class="author">
                      <img
                        src="http://aninex.com/images/srvc/web_de_icon.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <h3><%=userPlaylist.playlist.title%></h3>
                    </div>
                  </div>
                </div>
                <!-- Single Video Ends -->
              </div>
            </div>
            <% })%>

            <!-- col one end -->
          </div>
        </div>
      </section>
    </main>
    <!-- Footer Start -->
    <%- include('../shared/components/footer.ejs') %>

    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="fas fa-arrow-up"></i
    ></a>

    <!-- WhatsApp Icon -->
    <a
      href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
      class="float"
      target="_blank"
    >
      <i class="fab fa-whatsapp my-float"></i>
    </a>

    <!-- End your project here-->

    <!-- MDB -->
    <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
  </body>
</html>
